* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	background-color: turquoise;
}

.intro {
	font-family: inherit;
	width: 800px;
	height: 900;
	text-align: center;
}
.navbar ul {
	background-color: brown;
	padding: 10px;
}
.navbar ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}
.navbar ul li a {
	text-decoration: none;
	text-transform: capitalize;
	color: black;
}
.image {
	padding-left: 0%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 32%;
	border: 20px;
	height: 90vh;
	background-image: url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
	background-size: cover;
	width: 100%;
}
.image img {
	height: 300px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.image p {
	font-size: 25px;
	padding-top: 25vh;
	color: white;
	font-weight: bold;
	text-align: inherit;
}
.aboutdiv {
	height: 40vh;
	background-color: lightslategray;
}
.aboutdiv h2 {
	text-align: center;
	padding: 70px 0px 10px 0px;
}
.aboutdiv p {
	text-align: center;
}
.skills {
	padding: 30px;
	background-color: lightgrey;
}
.skills h2 {
	text-align: center;
	padding: 20px;
}
.skills p {
	text-align: center;
}
.skills ul {
	text-align: center;
	padding: 20px;
	display: inline;
}
.project h2 {
	text-align: center;
	padding: 14px;
}
.project p {
	text-align: center;
}
.myproject {
	display: flex;
	flex-direction: column;
}
.myproject img {
	width: 800px;
	padding-left: 37%;
}
.myproject button {
	padding: 10px;
}
.myproject a {
	background-color: thistle;
	text-decoration: none;
	font-size: 20px;
	color: black;
}
.myproject p {
	text-align: center;
	font-family: inherit;
	border-top: 20 px;
}
.myproject a:hover {
	background-color: black;
	color: white;
}
.myfoot {
	background-color: lightslategray;
}
.myfoot > p {
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
}
.myfoot h4 {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}
