* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.intro {
	font-family: inherit;
	width: 800px;
	height: 900;
	text-align: center;
}
.navbar ul {
	background-color: brown;
	padding: 10px;
}
.navbar ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}
.navbar ul li a {
	text-decoration: none;
	text-transform: capitalize;
	color: black;
}
.image {
	padding-left: 32%;
	padding-top: 30px;
	height: 100vh;
	background-image: url(/images/portfolio1.jpg);
	background-size: cover;
	width: 100%;
}
.image img {
	height: 300px;
	border-radius: 40%;
	display: flex;
	justify-content: center;
}
.image p {
	font-size: 25px;
	padding-top: 25vh;
	color: white;
	font-weight: bold;
}

/* .image .name {
	position: absolute;
	text-align: center;
}
.bottom-right {
	position: absolute;
	bottom: 2px;
	right: 2px;
}
.about {
	font-family: fantasy;
	text-align: bottom;
}
.projects {
	background-color: beige;
	font-family: sans-serif;
}
.contact ol {
	background-color: lightgrey;
	padding: 10px;
}
.Contacts {
	text-align: bottom;
	width: 100%;
}
body {
	background-color: lightgrey;
	font-size: 14;
} */
