.intro {
	background: lightgrey;
	font-family: inherit;
	width: 100%;
	height: 100%;
	text-align: center;
}
.navbar ul {
	background-color: brown;
	padding: 10px;
}
.navbar ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
}
.navbar ul li a {
	text-decoration: none;
	text-transform: capitalize;
}
.text-box {
	object-position: absolute;
	top: 20px;
	left: 20px;
	background-color: gray;
	padding-left: 10px;
	padding-right: 10px;
	color: lightsteelblue;
}
.image img {
	padding: 2%;
	width: 600px;
	float: left;
}
.text {
	position: absolute;
	right: 15 px;
}
body {
	background-color: none;
	background-image: none;
}

#about {
	background: lightgrey;
	font-family: fantasy;
	align-content: bottom;
}
#project > a >  {
	color: blue;
}
#Contacts{
	text-align:bottom;
	width: 100%;
	

}
